@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.App-header {
  background-color: #00BCD4;
  box-shadow: 0px 2px 5px #dbdbdb;
}

.App-title{
  font-size: 1.0em;
  color: white;
  font-family: 'Roboto Light', sans-serif;
  margin-left: 14%;
}

.App-title:hover {
  color: white;
}

.SplitPane {
  width: 100%;
  height: 100%;
  
}

.SplitPane-left {
  margin-top: 7%;
  margin-bottom: 5%;
}

.SplitPane-right {
  margin-top: 7%;
}

