@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import '~react-input-range/lib/css/index.css';

.form-bg{
    padding: 5%;
    border-radius: 2px 2px 12px 12px;
    margin-bottom: 4%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.refine{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 5%;
    border-radius: 12px 12px 12px 12px;
    width: 100%;
}

.row-margin{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.group-margin{
    margin-bottom: 3% !important;
}

.price {
    margin-bottom: 15%;
}

.input-range{
    margin-bottom: 25%;
    padding: 5%;
}

label{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.align{
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10% !important;
    border-radius: 6px !important;
    border:none !important;
    background-color: #00BCD4 !important;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px !important;
    padding: 8px 50px !important;
    cursor: pointer;
}

.nav-tabs .nav-link{
    border-radius: 15px 15px 0px 0px !important;
    cursor: pointer;
}

.active{
    color:black !important;
}

.tab{
    border: none !important;
}

.item{
    border-radius: 16px 16px 0px 0px;
    color:white;
    margin-bottom: 0px !important;
    border-bottom: none;
    font-size: 12px;
    background: #009688;
}
    
.item-left{
    box-shadow: -4px 0 8px -2px rgba(0, 0, 0, 0.1);
}

.airline-choice{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.airline-check{
    width:20px;

    position:relative;
    left: 200px; 

    vertical-align:middle; 
}

.airline-text{  
    width:200px;       

    position:relative;
    left: 0px;

    display:inline-block;    
    vertical-align:middle; 
}