@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

p{
    font-family: 'Roboto', sans-serif;
}

.title{
    font-size: 16px;
}

.sub-title{
    font-size: 14px;
}

.container-margin{
    margin-bottom: -1% !important;
}

.col-align{
    margin-right: 35px !important;
    margin-left: 35px !important;
}

.flight-time{
    font-size: 12px;
    margin-bottom: 5% !important;
}

.flight-no{
    font-size: 12px;
    margin-bottom: 8% !important;
}

.flight-travel{
    font-size: 18px;
    font-weight: bold;
}

.list-group{
    padding: .5rem .1.25rem !important;
    margin-bottom: 1.5% !important;
}

.result-container{
    padding: 0%;
    
}

.img-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34%;
    width: 100%;
    height: 40%;
}


.card{
    display: inline-block !important;
}

.card-btn{
    float: right;
}

.price-align{
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.btn-align{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-properties{
    border-radius: 6px !important;
    border:none !important;
    background-color: #00BCD4 !important;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px !important;
    padding: 8px 20px !important;
    cursor: pointer;
}
